<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Product shop</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{categories[0]}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <div *ngFor="let food of foodCategories">
            <mat-list-item role="listitem"><button mat-button (click)="getProducts(food.id)">{{food.naziv}}</button></mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{categories[1]}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <div *ngFor="let tex of textileCategories">
            <mat-list-item role="listitem"><button mat-button (click)="getProducts(tex.id)">{{tex.naziv}}</button></mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{categories[2]}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <div *ngFor="let other of otherCategories">
            <mat-list-item role="listitem"><button mat-button (click)="getProducts(other.id)">{{other.naziv}}</button></mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-expansion-panel>
    </mat-drawer> 
    <mat-drawer-content *ngIf="showCard" [ngClass]="drawer.opened ? 'two-grid':'three-grid'">
      <div *ngFor="let product of products">
        <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image"></div>
            <mat-card-title>{{product.naziv}}</mat-card-title>
            <mat-card-subtitle>{{product.datumKreiranja | date: 'dd.MM.yyyy.'}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <app-image-gallery></app-image-gallery> -->
          <img mat-card-image src={{getMainUrl(product)}} alt="No content photo" style="height: 250px;">
          <mat-card-content style="padding-top: 10px;">
            Manufacturer: {{product.proizvodjac.name}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="showProductInfos(product.id)">VIEW MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer-content >


    <mat-drawer-content *ngIf="showProductInfo"> 
      <div *ngFor="let product of productInfos">
        <mat-card class="example-card">
          <mat-card-header>
            <div class="example-header-image"></div>
            <mat-card-title>{{product.sifra}}  {{product.brend}}</mat-card-title>
            <mat-card-subtitle>{{product.zemljaPorekla}}</mat-card-subtitle>
          </mat-card-header>
          
          <!-- <img mat-card-image src="https://www.bigpharmacy.com.my/scripts/timthumb.php?src=https://www.bigpharmacy.com.my//site_media/img/106897EA.jpg&w=500&zc=1" alt="No content photo"> -->
          <mat-card-content style="padding-top: 10px;">
          <p><b>Opis: </b>{{product.kratakOpisProizvod}}</p>
            <p><b>Cena: </b>{{product.maloprodajnaCena}} RSD</p> 
            <p><b>Dostupnost: </b>{{product.dostupnost}}</p> 
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goBack()">GO BACK</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer-content>

  
</mat-drawer-container>

<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Product shop</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <button mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->
